/* @group Corrdinate Selector with Google Map */

* {
	margin: 0;
	padding: 0;
}

#wrapper {
	font-family: helvetica;
	width: 672px; height: 472px;
	padding: 14px;
	background-color: #E5E5E7;
}

#map_canvas {
	width: 672px;
	height: 400px;
}

#search_map {
	border: 0;
	background: url('background_search.png') 0 0 no-repeat;
	width: 348px;
	height: 17px;
	font-size: 15px;
	line-height: 17px;
	color: #aaa;
	font-family: helvetica;
	padding: 10px 10px 6px;
	font-weight: bold;
	float: left;
}

input.label {
	color: #ddd !important;
}

#search_map_form {
	display: block;
	padding-top: 18px;
	position: relative;
}

#search_address_button {
	display: block;
	float: left;
	margin: 2px 15px 0;
	background: url('button_go.png') 0 0 no-repeat;
	width: 99px;
	height: 29px;
	text-indent: -99999999px;
	
}

#select_coords_button {
	display: block;
	float: left;
	position: relative;
	margin-top: -16px;
	background: url('button_select.png') 0 0 no-repeat;
	width: 175px;
	height: 64px;
	text-indent: -99999999px;
	z-index: 2;
	
}

#on_coords {
	position: absolute;
	background-color: #42ABDD;
	width: 101px;
	font-family: helvetica;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	height: 18px;
	line-height: 18px;
	left: 453px;
	top: 49px;
	margin-left: 81px;
	z-index: 1;
}

p.field_tip {
	color: #888;
	font-size: 11px;
	position: absolute;
	top: 58px;
	padding-left: 10px;
}

/* @end */


/*
<div class="modal-overlay"></div>
<div class="modal-window">
	<iframe></iframe>
	<a class="close-window"></a>
</div>
*/

/* @group Modal Box */

.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 101;
}

.modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	z-index: 102;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

/* @end */

/* @group Modal Box IE6 */

html.ie6 body {
	height: 100%;
}

html.ie6 .modal-overlay {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

html.ie6 iframe.modal-overlay {
	background: none;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 100;
}

html.ie6 .modal-window {
	position: absolute;
	top: expression(document.documentElement.scrollTop + (document.documentElement.clientHeight / 2) + 'px');
}

html.ie6 .close-window {
	background-image: url();
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=close-button.png,sizingMethod=crop);
}

/* @end */